 <div class="row m-4" >
  <div class="d-flex">
<!-- Product List Section -->
<div [ngClass]="isSidePanalVisible ? 'col-8' : 'col-12'" >
  <div class="card h-auto">
    <div class="card-header bg-light text-dark">
      <div class="row">
        <div class="col-6 h4 text-success ">Product List</div>
        <div class="col-6 text-end">
          <button class="btn btn-sm btn-success" (click)="openSidepanal()">New</button>
        </div>
      </div>
    </div>
    <div class="container my-3">
      <!-- Bootstrap Row -->
      <div class="row">
        <!-- Loop through the product list -->
        <div class="col-md-3 mb-4" *ngFor="let product of prdList">
          <!-- Card -->
          <div class="card h-100">
            <img class="card-img-top h-75" [src]="product.productImageUrl" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">{{ product.productName }}</h4>

              <p class="card-text">{{ product.categoryName }}</p>

              <div class="justify-content-between d-flex">
                <a class="btn btn-success " (click)="onedit(product)">Edit</a>
                <a  class="btn btn-danger mx-2" (click)="ondelete(product)">Delete</a>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- New Product Section -->
    <div class="col-4 mx-2" *ngIf="isSidePanalVisible">
      <div class="card h-auto">
        <div class="card-header bg-light text-dark">
          <div class="row">
            <div class="col-6 h6">Add New Product</div>
            <div class="col-6 text-end">
              <button class='btn btn-sm btn-success' (click)="closeSidepanal()">Close</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6 p-2" >
              <label for="Nmame">Name</label>
              <input type="text" class="form-control" [(ngModel)]="productObj.productName">
            </div>
            <div class="col-6 p-2">
              <label for="Price">Price</label>
              <input type="text" class="form-control" [(ngModel)]="productObj.ProductPrice">
            </div>
            <div class="col-6 p-2">
              <label for="SKU">Description</label>
              <input type="text" class="form-control" [(ngModel)]="productObj.Sku">
            </div>
            <div class="col-6 p-2">
              <label for="shortName">shortName</label>
              <input type="text" class="form-control" [(ngModel)]="productObj.productShortName">
            </div>
            <div class="col-6 p-2">
              <label for="category">category</label>

              <select name="" id="" class="bg-light text-dark" [(ngModel)]="productObj.categoryId" class="form-select">
                <option *ngFor="let cat of catList" [value]="cat.categoryId">{{ cat.categoryName|json }}</option>
              </select>
              
            </div>

            <div class="col-6 p-2">
              <label for="deliveryTime">delivery time</label>
              <input type="text" class="form-control" [(ngModel)]="productObj.deliveryTimeSpan">
            </div>

            <div class="col-6 p-2">
              <label for="deliveryTime">product Url</label>
              <input type="text" class="form-control" [(ngModel)]="productObj.productImageUrl">

            </div>


            <div class="row justify-content-center">
              <div class="col-12 ">
                <label class="my-1">Product Description</label>
                <textarea for="productDescription" [(ngModel)]="productObj.productDescription" class="w-100 "></textarea>

               </div>
            </div>


            <div class="row">
              <div class="col-6">
                <button class="btn btn-success" >Reset</button>

              </div>
              <div class="col-6">
                <!--createproduct[if empty,else upate]-->
                <button class="btn btn-success" *ngIf="productObj.productId==0" (click)="onSaveprdct()">Crete Product</button>
                <button class="btn btn-success" *ngIf="productObj.productId!==0"  (click)="onUpdate()">Update Product</button>



              </div>
            </div>
            

           

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

