<app-layout></app-layout>



<div class="container mt-4">
    <div class="p-3">
        <span class="h4  text-muted" >Companies Exporting Our Products</span>

        
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phones</th>
          <th>Emails</th>
          <th>Offers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{ company.name }}</td>
          <td>{{ company.address }}</td>
          <td>
            <ul>
              <li *ngFor="let phone of company.phones">{{ phone }}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let email of company.emails">{{ email }}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let offer of company.offers">{{ offer }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<router-outlet></router-outlet>